body{
    background-color: #160C28;
    color: white;
    font-family: 'Onest', sans-serif;
}

button{
    transition: 0.2s;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
}

.custom-select{
    background-color: DodgerBlue;
    padding: 10px;
    border-radius: 5px;
}

.inputText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: 80%;
    height: 100%;
    margin: auto;
    gap: 10px;
}

.input{
    border-radius: 10px;
    padding: 10px;
}

.cancelButton{
    position: relative;
    right: 0px;
}

.addbutton{
    
    font-size: 100px;
}

.buttonBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.buttonBox:hover{
    cursor: pointer;
}

.createButton{
    background-color: lightgreen;
}

.removeButton{
    background-color: red;
    color: white;
}

.editButton{
    background-color: lightgreen;
    color: black;
}



.botones{
    display: flex;
    flex-direction: row; 
    border-radius: 5px;
    justify-content: center;
    width: 100%;
    margin: auto;   
}

button:hover{
    cursor: pointer;
    transition: 0.5s;
    scale: 105%;
    border: 1px solid grey;
}

.tarea{
    background-color: #231341;
    border: 1px rgba(255, 255, 255, 0.742) solid;
    padding: 8px;
    margin: 8px;
    border-radius: 10px; 
    max-height: 600px;  
    overflow: auto;
    min-height: 400px;
    -webkit-box-shadow: 10px 10px 14px -5px rgb(54, 53, 53);
    -moz-box-shadow: 10px 10px 14px -5px rgba(87,87,87,1);
    box-shadow: 10px 10px 14px -5px rgba(87,87,87,1);
}


.subTarea{
    border: 1px rgba(255, 255, 255, 0.165) solid;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;   
    color: rgba(255, 255, 255, 0.384);
}


.inputForm{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    gap: 2px;
}


.container{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: auto; 
}

.taskBox{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


@media (max-width: 1200px) {
    .taskBox {
        grid-template-columns: 50% 50%;
    }
  }

@media (max-width: 800px) {
.taskBox {
    grid-template-columns: auto;
}
}
