body{
    background-color: #160C28;
    color: white;
}

.tarea{
    border: 1px white solid;
    padding: 2px;
    margin: 2px;
}

.inputForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    gap: 2px;
}
